body {
    height: auto;
}
.mobile-home-page-container {
    font-family: Marmelad;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.mobile-profile-icon {
    padding: 10px 10px 0px 0px;
    align-self: flex-end;
}

.welcome-name {
    font-family: 'Just Another Hand';
    font-size: 33px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    align-self: flex-start;
    padding-left: 15px;
}

.write-bar-mobile {
    width: 95%;
    border-radius: 10px;
    background-color: #F6F6F6;
    align-self: center;
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0px 20px 20px;

    font-size: 12px;
    font-weight: 400;
    text-align: left;
    font-family: Marmelad;
}

.mobile-recommendations {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-top: 16px;
    padding: 10px;
}

.mobile-recomm-title {
    font-family: Marmelad;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.82px;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}

.recommendation {
    display: flex;
    border-radius: 10px;
    margin: 0;
    padding: 10px 5px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 14px;
    align-items: center;
    justify-content: start;
}


.recommendation>img {
    width: 40px;
    margin: 10px 20px;
}

.recommendation-a {
    background-color: #E5BEEC;
}

.recommendation-b {
    background-color: #88D498;
}

.recommendation-c {
    background-color: #F3E9D2;
}

.mobile-recomm-posts{
    margin-top: 30px;
text-align: left;
}

.well-received {
    border: 1px solid #88D498;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.well-received-profile {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Marmelad;

}

.well-received-img-name{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Marmelad;
    position: relative;

}

.well-received-img-name > img {
    width: 60px;
    margin: 10px;
}

.well-received-img-name > p {
    font-weight: bolder;
}

.well-received-follow {
    position: absolute;
    right: 10px;
    border-radius: 10px;
    width: 66px;
    height: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #5C8D89;
    color: white;
    font-size: 12px;
}

.well-received-content {
    padding: 20px;
    font-size: 12px;
}

.well-received-title{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}